.app-wrapper {
    position: relative;
    min-height: 100%;
}

main {
    margin-left: 271px;
    padding: 30px 20px 0px 30px;
    min-width: 1100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f9f9f9;
}

aside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    float: left;
    width: 271px;
    box-sizing: border-box;
    background: #2B2F3E;        
}

section {
    box-sizing: border-box;
}

.aside-header {
    padding: 30px 30px 65px 30px;
}

.menu-item {
    font-size: 18px;
    line-height: 57px;
    height: 57px;
    color: #fff;
    padding-left: 30px;
    background: #ff2d5c; 
    background: -webkit-linear-gradient(#ff2d5c, #ff404b); 
    background: -o-linear-gradient(#ff2d5c, #ff404b); 
    background: -moz-linear-gradient(#ff2d5c, #ff404b); 
    background: linear-gradient(#ff2d5c, #ff404b); 
}

.items-list {
    float: left;
    width: 50%;
    margin-bottom: 30px;
}

.item-list-inner-container {
    min-height: 523px;
    margin-right: 10px;
    padding: 20px 15px 20px 30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
    border-radius: 2px;
    background: #fff;
}

.item-list-form {
    padding: 26px 0 10px 0;
    display: flex;
}

.item-list-input {
    flex: 1;
    padding: 0px 10px;
    border-radius: 3px;
    border: 1px solid #d2d2d2;
    margin-right: 10px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #565a69;
}

.item-list-button {
    padding: 0 33px;
    background: #fff;
    outline: none;
    border-radius: 3px;
    border: none;
    background: #27CCC0;
    color: #fff;
    height: 37px;
    font: 500 16px 'Open Sans', sans-serif;
    cursor: pointer;
}

.item-list-button:hover {
     background: #118C80;
}

.item {
    display: flex;
    position: relative;
    padding: 10px 0;
    color: #2B2F3E;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #fafafa;
    cursor: pointer;
}

.selected:before {
    position: absolute;
    top: 0;
    left: -32px;
    height: 100%;
    border-left: 4px solid #ff3159;
    content: '';
}

.item-container {
    flex: 1;
    margin-right: 20px;
}

.item-payload {
    line-height: 2;
}

.item-quantity {
    padding: 0 10px;
    margin: 0 0 0 10px;
    background: #27CCC0;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    height: 20px;
    border-radius: 10px;
}

.item > button {
   float: right;
}

.item-rm-button {
    padding: 0 18px;
    border: 1px solid #FF3159;
    border-radius: 3px;
    background: #fff;
    color: #FF3159;
    font-weight: 300;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    outline: none;
}

.item-rm-button:hover {
    cursor: pointer;
}

.comments-list {
    float: right;
    width: 50%;
    margin-bottom: 30px;
}

.comment-list-inner-container {
    padding: 20px 25px 15px 20px;
    margin-left: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
    border-radius: 2px;
    background: #fff;
}


.comments-header {
    padding: 0 0 30px 0;
}

.comment {
    padding: 15px 0 20px 0;
    border-bottom: 1px solid #fafafa;
}

.comment:last-child {
    border-bottom: none;
}

.comment-text {
    overflow: hidden;
    line-height: 1.5;
}

.img {
    display: inline-block;
    height: 52px;
    width: 52px;
    float: left;
    margin-right: 13px;
}

.comments>li:nth-child(even)>.img {
    background: #FF8A00;
}

.comments>li:nth-child(odd)>.img {
    background: #47568C;
}

.comment-submit {
    padding: 5px 0 0 0;
}

.comment-submit > .img {
    background: #E6E6E6;
}

.comment-input {
    height: 70px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    line-height: 1.5;
    resize: none;
}

.comment-input::-webkit-scrollbar { 
    display: none; 
}

.comment-submit {
    display: flex;
}

.textarea-container {
    flex: 1;
}
